@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,900;1,400&display=swap");
.btn {
  cursor: pointer;
  border: none;
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
}
.btn:hover {
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  background-color: #f788b6;
  color: snow;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
body header {
  background: url("/image/hede_bg.png") no-repeat;
  background-size: 100%;
}
body .nav--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .logo {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.808);
  display: inline-block;
  font-size: 78px;
  font-style: italic;
  margin: 0 0px 50px 550px;
}
body .nav--domsilka {
  margin: 2rem 6rem 0 0;
  max-height: 1.5rem;
}
body .nav--domsilka a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 0.2px black, 0 0 1em white;
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
}
body .nav--domsilka a:hover {
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  color: thistle;
}
body .nav--silka {
  margin: 0 0.9rem;
  font-size: 1rem;
}
body .img--icon {
  position: relative;
  bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .img--icon .intro {
  margin-left: 64px;
}
body .img--icon .intro h1 {
  color: white;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
}
body .img--icon .intro p {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 2.9rem;
}
body .img--icon .btn {
  background-color: #1c4600;
  color: white;
  font-weight: 500;
  border: solid 1px;
  border-color: #142700;
  padding: 0.3rem 1rem;
  -webkit-transition: ease 500ms;
  transition: ease 500ms;
}
body .img--icon .btn:hover {
  -webkit-transition: ease 200ms;
  transition: ease 200ms;
  border-color: lawngreen;
}